NODE_ENV=example.NODE_ENV
PORT=example.port
MONGO_URI=example.mongo_url
#JWT
JWT_ACCESS_SECRET=example.secret
JWT_ACCESS_EXPIRES=1h 
JWT_REFRESH_SECRET=example.secret
JWT_REFRESH_EXPIRES=30d

#BCRYPT
BCRYPT_SALT_ROUND=example.round

#FRONTEND_URL
FRONTEND_URL=""

#GOOGLE_CLIENT_SECRET
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL="your callback url"

#EXPRESS SESSION SECRET
EXPRESS_SESSION_SECRET="your secret"